<ul class="user-list">
  <li class="user-list__item" *ngFor="let user of userService.getUsers() | async">
    <span *ngIf="!user.isEditing && !user.isEditingAll; else inputField"> {{ user.name }} </span>
    <ng-template #inputField>
      <input type="text" [(ngModel)]="user.name" class="user-list__input" autofocus/>
    </ng-template>
    <div class="user-list__buttons">
      <ng-container *ngIf="!(user.isEditing || user.isEditingAll); else saveButton">
        <button (click)="user.isEditing = true" class="btn btn__secondary">Edit</button>
        <button (click)="deleteUser(user.id)" class="btn btn__primary">Delete</button>
      </ng-container>
      <ng-template #saveButton>
        <button *ngIf="user.isEditing" (click)="updateUser(user); user.isEditing = false" class="btn btn__secondary">Save</button>
      </ng-template>
    </div>
  </li>
</ul>
